{% extends 'base.html' %}
{% block title %} All courses per trainer {% endblock %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th> Name </th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td> {{ course.name }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
