{% extends 'base.html' %}
{% block title %} List of courses {% endblock %}

{% block content %}
    <form method="get">
        {{ my_filter.form }}
    </form>
    <div class="row">
        {% for course in all_courses %}
            <div class="card" style="width: 22rem; margin-right: 20px">
                <img src="{{ course.image.url }}" class="card-img-top" alt="a photo" width="100px">
                <div class="card-body" style="height: 200px">
                    <h4 class="card-text"> {{ course.name }} </h4>
                    <h4 class="card-text"> Trainer: {{ course.trainer.first_name }} </h4>
                    <h4 class="card-text"> City: {{ course.trainer.city }} </h4>
                </div>
                <div class="card-footer">
                    <a href="{% url 'update-course' course.id %}" class="btn btn-dark"> Update </a>
                    <a href="{% url 'detail-course' course.id %}" class="btn btn-primary"> See Course </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}