{% extends 'base.html' %}
{% block title %} Register an instructor {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"> Save </button>
        </form>
    </div>
</div>
{% endblock %}
