{% extends 'base.html' %}
{% block title %} List of trainers {% endblock %}

{% block content %}
    <form method="get">
    {{ my_filter.form }}
    <button type="submit" class="btn btn-success">Search</button>
    </form>
    <div class="row">
        {% for trainer in all_trainers %}
            <div class="card" style="width: 22rem; margin-right: 20px">
                <img src="{{ trainer.image.url }}" class="card-img-top" alt="a photo" width="100px">
                <div class="card-body" style = "height: 75px">
                    <h4 class="card-text"> {{ trainer.first_name }} {{ trainer.last_name }} </h4>
                    <h5 class="card-text"> City: {{ trainer.city }} </h5>
                </div>
                <div class="card-footer">
                    <a href="{% url 'update-trainer' trainer.id %}" class="btn btn-dark"> Update </a>
                    <a href="#" class="btn btn-primary"> See Class </a>
                </div>
            </div>
        {% endfor %}
    </div>{% endblock %}