{% extends 'base.html' %}
{% block title %} Schedule {% endblock %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/timetable.css' %}">
    <div class="container-xl">
        <div class="row">
            <div class="col-xl-6 col-lg-12"><br><br>
                <table class="table" id="table">@@How would I be able to make the lines disappear?
                    <thead>
                    <tr>
                        <th></th>
                        <th id="title_in_schedule"> Timetable</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Monday</td>
                        <td id="hours">09:00 - 22:00</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td id="hours">09:00 - 22:00</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td id="hours">09:00 - 22:00</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td id="hours">09:00 - 22:00</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td id="hours">09:00 - 22:00</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td id="hours">10:00 - 16:00</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td id="hours">10:00 - 16:00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xl-6 col-lg-12"><br>
                <img src="/static/photos/timetable_gym.jpg" alt="home" class="col-12" style="object-fit: cover">
            </div>
        </div>
    </div>

<br><br><br>
    <h4 style="text-align: right"> >>>>>>>>>>>> An information: The name of the trainers must appear in function of the
        city in which they work. The CSS doesn't work here. I don't know why. On Pythonanywhere the CSS worked. </h4>
    <div>
        <div class="container-xl">
            <div class="row">
                <table class="table">
                    <thead>
                    <tr id="uur">
                        <th></th>
                        <th> 11:00 - 12:00</th>
                        <th> 12:00 - 13:00</th>
                        <th> 16:00 - 17:00</th>
                        <th> 17:00 - 18:00</th>
                        <th> 18:00 - 19:00</th>
                        <th> 19:00 - 20:00</th>
                        <th> 20:00 - 21:00</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td id="days"> Luni</td>
                        <td></td>
                        <td></td>
                        <td>
                            <p> Body Mix </p>
                            <p> Instructor: Roxana </p>
                        </td>
                        <td>
                            <p> Kangoo </p>
                            <p> Instructor: Ioana</p>
                        </td>
                        <td>
                            <p> Mix Training </p>
                            <p> Instructor: Anca </p>
                        </td>
                        <td>  </td>
                        <td>
                            <p> Tabata </p>
                            <p> Instructor: Andreea </p>
                        </td>
                    </tr>
                    <tr>
                        <td id="days"> Marți </td>
                        <td></td>
                        <td></td>
                        <td>
                            <p> Cardio Mix </p>
                            <p> Instructor: Anca </p>
                        </td>
                        <td>
                            <p> Brazilian Buts </p>
                            <p> Instructor: Andreea </p>
                        </td>
                        <td>
                            <p> Cycling </p>
                            <p> Instructor: Andrei </p>
                        </td>
                        <td>
                            <p> Pilates </p>
                            <p> Instructor: Anca </p>
                        </td>
                        <td>
                            <p> Circuit </p>
                            <p> Instructor: Andrei </p>
                        </td>
                    </tr>
                    <tr>
                        <td id="days"> Miercuri</td>
                        <td></td>
                        <td></td>
                        <td>
                            <p> Hiit </p>
                            <p> Instructor: Andrei </p>
                        </td>
                        <td>
                            <p> Kangoo </p>
                            <p> Instructor: Ioana</p>
                        </td>
                        <td>
                            <p> Body Mix </p>
                            <p> Instructor: Roxana </p>
                        </td>
                        <td>
                            <p> Zumba </p>
                            <p> Instructor: Roxana </p>
                        </td>
                    </tr>
                    <tr>
                        <td id="days"> Joi</td>
                        <td></td>
                        <td></td>
                        <td>
                            <p> Brazilian Buts </p>
                            <p> Instructor: Andreea </p>
                        </td>
                         <td>
                            <p> Tabata </p>
                            <p> Instructor: Andreea </p>
                        </td>
                         <td>
                            <p> Body Pump </p>
                            <p> Instructor: Anca </p>
                        </td>
                        <td>
                            <p> Pilates </p>
                            <p> Instructor: Roxana </p>
                        </td>
                        <td>
                            <p> Hiit </p>
                            <p> Instructor: Andrei </p>
                        </td>
                    </tr>
                    <tr>
                        <td id="days"> Vineri</td>
                        <td></td>
                        <td></td>
                        <td>
                            <p> ABS & Core </p>
                            <p> Instructor: Andreea </p>
                        </td>
                        <td>
                            <p> Body Mix </p>
                            <p> Instructor: Roxana </p>
                        </td>
                         <td>
                            <p> Circuit </p>
                            <p> Instructor: Andrei </p>
                        </td>
                        <td> </td>
                        <td>
                            <p> Cycling </p>
                            <p> Instructor: Andrei </p>
                        </td>
                    </tr>
                    <tr>
                        <td id="days"> Sâmbătă</td>
                        <td>
                            <p> Mix Training </p>
                            <p> Instructor: Roxana </p>
                        </td>
                        <td>
                            <p> Pilates </p>
                            <p> Instructor: Anca </p>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td id="days"> Duminică</td>
                        <td>
                            <p> Cycling </p>
                            <p> Instructor: Andrei </p>
                        </td>
                        <td>
                            <p> ABS & Core </p>
                            <p> Instructor: Andreea </p>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {#     ---------------------------------------------------------------------------------------------------------------#}
    <h3 style="text-align: center"> exemple of charts with https://www.w3schools.com/howto/howto_google_charts.asp </h3>

    <div id="piechart"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Work', 8],
                ['Eat', 2],
                ['TV', 4],
                ['Gym', 2],
                ['Sleep', 8]
            ]);

            // Optional; add a title and set the width and height of the chart
            var options = {'title': 'My Average Day', 'width': 550, 'height': 400};

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}