{% extends 'base.html' %}
{% block title %} Register a customer {% endblock %}
{% load static %}
{% block content %}
<div class="row" id="page_background">
<h3> Cum fac ca spațiul alb dintre navbar și culoare de fond a paginii să dispară? </h3>
<h3> Am pus culoare pe sub navbar dar când pun mouse-ul pe el dispare culoarea. Cum fac să rămână culoarea? </h3>
<h3> Cum fac poza din fundal să fie mai mică? rezoluția pozei </h3>
<h3> Pe pythonanywhere.com imaginea din fundal nu se vede pe tot ecranul in register a customer </h3>
    <link rel="stylesheet" href="{% static 'css/register_customer.css' %}">
    <div class="col-md-6 offset-md-3">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"> Save </button>
        </form>
    </div>
</div>
{% endblock %}