{% extends 'base.html' %}
{% block title %} Delete customer {% endblock %}
{% block content %}
    <p> Are you sure that you want to delete {{ customer.first_name }} {{ customer.last_name }}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes</button>
            <a href="{% url 'list-of-customers' %}" class="btn btn-default">No</a>
        </form>
{% endblock %}