{% extends 'base.html' %}
{% block title %} More Information {% endblock %}
{% block content %}
    <div class="card text-center">
        <div class="card-header">
            Created at {{ customer.created_at }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ customer.first_name }} {{ customer.last_name }}</h5>
            <p class="card-text">Date of birth: {{ customer.date_of_birth }}</p>
            <p class="card-text">Age: {{ customer.age }}</p>
            <p class="card-text">Gender: {{ customer.gender }}</p>
            <p class="card-text">Trainer: {{ customer.trainer.first_name }} {{ customer.trainer.last_name }}</p>
            <a href="{% url 'list-of-customers' %}" class="btn btn-primary btn-sm">Go to list of customers</a>
        </div>
        <div class="card-footer text-muted">
          Updated at {{ customer.updated_at }}
        </div>
    </div>
{% endblock %}
