{% extends 'base.html' %}
{% block title %} All customers per trainer {% endblock %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th> Full Name </th>
                <th> Age </th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td> {{ customer.first_name }} {{ customer.last_name }}</td>
                <td> {{ customer.age }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
