{% extends 'base.html' %}
{% block title %} List of customers {% endblock %}
{% block content %}
    <h5> Trebuie să găsesc o metodă de căutat între anumite vârste </h5>
    <h5> Cum se pune nr. crt.? Aici e pus după id. Dacă un user e șters, id-ul cu mai coincide cu nr. crt. </h5>
    <h5> my_list = ["a", "b", 35, 8, 98] </h5>
    <h5> for num_index, val in enumerate(my_list): </h5>
    <h5> .... print(num_index+1, val) </h5>
    <h5>my_list = ['apple', 'banana', 'grapes', 'pear']
        for i, value in enumerate(my_list, 1):
            print(i, value)</h5>

    <form method="get">
        {{ my_filter.form }}
        <button type="submit" class="btn btn-success">Search</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th style="text-align: right"> Nr. crt.</th>
            <th> First name </th>
            <th> Last name </th>
            <th> Birth date </th>
            <th> Age </th>
            <th> Trainer </th>
            <th> City </th>
            <th> Action </th>
        </tr>
        </thead>
        <tbody>
        {% for customer in all_customers %}
            <tr>
                <td style="text-align: right"> {{customer.id}} </td>
                <td> {{ customer.first_name }} </td>
                <td> {{ customer.last_name }} </td>
                <td> {{ customer.date_of_birth }} </td>
                <td> {{ customer.age }} </td>
                <td> {{ customer.trainer.first_name }} {{ customer.trainer.last_name }}</td>
                <td> {{ customer.city }} </td>
                <td>
                    <a href="{% url 'update-customer' customer.id %}" class="btn btn-success"> Update </a>
                    <a href="{% url 'delete-customer' customer.id %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'detail-customer' customer.id %}" class="btn btn-warning">More Details</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
