/*-pentru a face meniul de la tabata*/
/*menu{*/
/*  display: flex;*/
/*  list-style:none;*/
/*  padding: 0;*/
/*  width: 400px;*/
/*  font-size: 20px;*/
/*  }*/

/*li {*/
/*  flex-grow: 1;*/
/*}*/

/*#paragraph{*/
/*  text-align: justify;*/
/*    font-size: 30px;*/
/*}*/
/*.menu-content{*/
/*  background-color: #5252a6;*/
/*}*/

/*#parent{*/
/*  background-color: darkviolet;*/
/*}*/

/*#fixed{*/
/*  position: fixed;*/
/*}*/
