.map {
	padding-top: 80px;
	padding-bottom: 0;
}

.map-inner {
	height: 610px;
	position: relative;
}

.map-inner iframe {
	width: 100%;
}

.map-inner .icon {
	position: absolute;
	left: 50%;
	top: 50%;
	/*-webkit-transform: translate(-14px, -21px);*/
	-ms-transform: translate(-14px, -21px);
	transform: translate(-14px, -21px);
}

/*.map-inner .icon i {*/
/*	font-size: 48px;*/
/*	color: #e7ab3c;*/
/*}*/