.menu-content{
  background-color: darkred;
  width: 1100px;
  height: 55px;
  position:fixed;
  justify-content: center;
}
menu{
  display: flex;
  list-style:none;
  padding: 0;
  width: 350px;
  font-size: 20px;
}

li {
  flex-grow: 1;
  justify-content: center;
}

#paragraph{
  text-align: justify;
}

#parent{
  width: 3000px;
  background-color: #5252a6;
  margin-top: 50px;
}

