#page_background{
    /*background-color: #fffb00;*/
    /*background-image: repeating-linear-gradient(blue, darkred, black 30%);*/
    /*background-image: radial-gradient(blue, darkred, black);*/
    /*background-image: repeating-radial-gradient(red, yellow 15%, green 20%);*/
    background-image: url("https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?cs=srgb&dl=pexels-eberhard-grossgasteiger-844297.jpg&fm=jpg");
}
