.page-link{
    color: blue;
    background-color: transparent;
    border-color: transparent;
}
#body{
    background-image:url(shopping_list/background.jpg);
    text-align: center;
}

#list{
    font-size:40px;
    text-decoration: underline;
    text-align: center;
    font-style: italic ;

}

[type="checkbox"]:checked + span{
    background-color: green;
    text-decoration: line-through;
    font-size: 25px;
}

#produs{
    background-color: rgb(204, 90, 198);
    font-size: 20px;
}

#parinte{
    font-size: xx-large;
    text-align: left;
}

#click{
    font-size: 20px;
    color:crimson;
    background-color: transparent;
    font-style: italic;
    border-width:0;
    text-align: center;
}
