.card{
    background-color: coral;
    /*border-color: black;*/
}
#subscription{
    font-size: 26px;
    color: #36692a;
    text-decoration-line: underline;
    text-align: center;
    background-color: coral;
}

.table{
    font-size: 12px;
    background-color: coral;
    border-style: none;
    border-color: coral;
}

#right{
    text-align: right;
    grid-row-start: initial;
}

#left{
    text-align: left;
}

#buy_now{
    width: 370px;
    height: max-content;
}

#update_del{
    width: 183px;

}

#paragraph{
    text-align: justify;
}