#title_in_schedule{
    text-align: right;
    text-decoration: underline;
    font-size: 20px;
}

#hours{
    text-align: right;
}
#uur{
    text-align: right;
    background-color: #21214f;
}
#days{
    background-color: #5252a6;
}