{% extends 'base.html' %}
{% block title %} Course Detail {% endblock %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage_4.css' %}">


        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="{% url 'homepage_3' %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage' %}">1</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_2' %}">2</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_3' %}">3</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_4' %}">4</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_5' %}">5</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_6' %}">6</a></li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'homepage_5' %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>



    <div class="container-xl">
        <div class="row">
            <div class="menu-content">
                <menu>
                    <li><a href="#bottom_1"><p id="link_page"> Ce este? </p></a></li>
                    <li><a href="#bottom_2"><p id="link_page"> Beneficii </p></a></li>
                    <li><a href="#bottom_3"><p id="link_page"> Exerciții tabata </p></a></li>
                </menu>
            </div>

            <div class="row" id="parent">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <img src="/static/classes/tabata_detail_1.jpg" alt="home" class="col-12"
                                 id="tabata_detail_1">
                        </td>
                        <td>
                            <img src="/static/classes/tabata_detail_2.png" alt="home" class="col-12"
                                 id="tabata_detail_2">
                        </td>
                        <td>
                            <img src="/static/classes/tabata_detail_3.jpg" alt="home" class="col-12"
                                 id="tabata_detail_3">
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="container-xl">
                    <p id="bottom_1"> Ce este? </p>
                    <p id="paragraph"> Dacă te-ai plictisit de antrenamentele clasice de fitness și nu stii ce să faci,
                        îți recomandăm antrenamentul de tip Tabata.
                    <p id="paragraph"> Tabata este unul dintre cele mai noi tipuri de antrenament în intervale. Mai
                        exact, trebuie să execuți un exercițiu la intensitate maximă, timp de 20 secunde, după care să
                        iei o
                        pauză de 10 secunde, totul de 8 ori, timp de 4 minute. După ce ai terminat primul exercițiu,
                        poți face
                        o pauză de 1 minut, după care poți trece la următorul exercițiu.</p>
                </div>

                <div class="container-xl">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>
                                        <p id="bottom_2"> Beneficiile programelor de Tabata </p>
                                        <ul>
                                            <li> Este super rapid</li>
                                            <li> Arde tone de calorii</li>
                                            <li> Este într-adevăr INTENS!</li>
                                            <li> Durează numai câteva secunde</li>
                                            <li> Ai și multe pauze bine meritate</li>
                                            <li> Un antrenament minunat pentru cei care au suferit un atac de cord</li>
                                            <li> Continui să arzi calorii chiar si după ce ai terminat antrenamentul
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xl-6 col-lg-12">
                            <img src="/static/classes/tabata_more_4.png" alt="home" class="col-12"
                                 id="tabata_more_4_photo">
                        </div>
                    </div>
                </div>

                <div>
                    <p id="bottom_3"> Exerciții Tabata </p>
                    <p id="paragraph"> Trei antrenamente de cate douăzeci de minute pe săptămână sunt suficiente pentru
                        a
                        vedea rezultate
                        notabile. Vi se pare mult? Hai sa ne gândim: fiecare antrenament durează mai puțin decat un
                        singur
                        episod dintr-un serial. Iar răsplata: un corp sănătos și tonifiat. Ce ziceți? Merită efortul?
                        HIIT are diverse variante, dintre care, cea mai răspândită este TABATA, cea care intercalează
                        intervale de lucru de 20 de secunde cu sesiuni de repaus de 10 secunde. Cum puteți începe să
                        lucrați
                        in sistemul HIIT? O puteți face acasă, pe propria saltea, cu ajutorul unei aplicații, sau puteți
                        veni la Del Mar și începe un program Del Mar Intensive Training, un antrenament accelerat, pe
                        baza de intervale, efectuat pe Power Plate, în sistem HIIT.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
