{% extends 'base.html' %}
{% block title %} Shopping List {% endblock %}
{% load static %}
{% block content %}
    <div id="body">
    <link rel="stylesheet" href="{% static 'css/shopping_list.css' %}">
{#        <link rel="shortcut icon" type="image/x-icon"  href="{% static 'shopping_list/icon.png' %}">#}

    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="{% url 'homepage_5' %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage' %}">1</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_2' %}">2</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_3' %}">3</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_4' %}">4</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_5' %}">5</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_6' %}">6</a></li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'homepage_6' %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="container-xl">
        <script src="{% static 'javascript/shopping_list.js' %}"></script>

        <h1 id="list"> My shopping list </h1>
        <br><br>
        <label for="produs"></label><input type="text" id="produs">
        <!-- <input type="button" value="Adauga1"> -->
        <button onclick="adaugaElem()" id="click"> Adăugaţi un produs</button>
        <div id="parinte"></div>
        <br><br>

        <img id="poza" src="{% static 'shopping_list/old_car.jpg' %}" alt="an old car" width="400px">
        <img src="{% static 'shopping_list/qrcode.png' %}" alt="code" width="200px">
        <br><br>
        <h4> Cum fac să dispară textul din textbox apăsând tasta enter de pe tastatură? </h4>
        <h4> Cum fac să se schimbe iconița de la titlu. Vezi rândurile 36, 37 și 8.
        {#        <link rel="shortcut icon" type="image/x-icon"  href="{% static 'shopping_list/icon.png' %}">#}
        </h4>
        <br><br><br><br>
    </div>
    </div>
{% endblock %}
