{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="{% url 'homepage_6' %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage' %}">1</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_2' %}">2</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_3' %}">3</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_4' %}">4</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_5' %}">5</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_6' %}">6</a></li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'homepage_2' %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="container-xl">
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <table class="table">
                    <tbody>
                    <tr>
                        <td><br>
                            <div>
                                <h4 id="why_choose"> De ce să ne alegi? </h4>
                                <link rel="stylesheet" href="{% static 'css/home.css' %}">
                            </div>
                            <p style="text-align:justify;"> După allauth ---
                                Best Gym este mai mult decât o sală de fitness. Reprezintă
                                locul în care
                                te detaşezi de tot ce înseamnă griji, stres, cotidian. Este o altă lume, în care intri
                                si faci exact ceea ce ai nevoie şi ce iţi doreşti pentru binele sănătăţii tale mentale,
                                fizice şi psihologice. Este locul în care iţi imbunătăţeşti condiţia de om, viata per
                                ansamblu, prin activităţi alese si preferate de tine. Suntem mai mult decat o sală de
                                fitness pentru că oferim mai mult decât o sală de fitness obişnuită. Oferim sănătate,
                                pasiune, socializare, comunicare, informare. Avem o echipă de oameni specializaţi,
                                pasionaţi si dedicaţi unui stil de viaţă sănătos. Mulţi din echipa Best Gym sunt, pe
                                langă instructori, traineri în domeniul Fitness-Wellness, având in vedere că în acelaşi
                                loc în care te antrenezi se deşfăşoară cursuri de formare în domeniul Fitness-wellness.
                                Ai la dispoziţie, alături de tine, pe lângă instructori şi traineri, oameni de calitate
                                care te pot sfătui în orice situaţie şi cursanti care se pregătesc să devină
                                instructori. Putem spune că este locul în care se antrenează cei mai mulţi instructori
                                de Fitness, aşa că oricand poţi beneficia de un sfat util şi corect. Un mediu
                                perfect pentru un antrenament excelent, original şi plin de creativitate. Te aşteptăm
                                pentru o nouă zi, în fiecare zi! </p>
                            <p> @@@@@@@ Nu știu cum să las un spațiu înainte de "Best Gym este mai mult decât o sală".
                                @@@@@????@@ De ce rămâne un rând spațiu între cele două paragrafe? </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xl-6 col-lg-12"><br><br><br><br>
                <img src="/static/photos/homepage_ro.png" alt="home" class="col-12" style="object-fit: cover"
                     id="homepage_photo">
            </div>
        </div>
    </div>
{% endblock %}
