{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="{% url 'homepage_2' %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage' %}">1</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_2' %}">2</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_3' %}">3</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_4' %}">4</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_5' %}">5</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_6' %}">6</a></li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'homepage_4' %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div>
        <h4 id="why_choose">
            https://www.w3schools.com/whatis/tryit.asp?filename=trywhatis_jquery_hide
            https://www.w3schools.com/whatis/whatis_jquery.asp <<< hide and show text >>>>
            See also
            https://www.w3schools.com/howto/howto_css_image_overlay_slide.asp
            https://www.w3schools.com/howto/howto_css_image_overlay_zoom.asp
            https://www.w3schools.com/howto/howto_css_image_overlay.asp
            https://www.w3schools.com/howto/howto_css_image_overlay_title.asp
            https://www.w3schools.com/howto/howto_css_image_transparent.asp
            https://www.w3schools.com/howto/howto_css_form_on_image.asp <<<<<<<<<<<<<<<<<
            https://www.w3schools.com/howto/howto_css_blurred_background.asp
            https://www.w3schools.com/howto/howto_css_rounded_images.asp <<<<<<<<< rounded images
            https://www.w3schools.com/howto/howto_js_image_zoom.asp <<<<< how to zoom a part of a photo
            https://www.w3schools.com/howto/howto_js_image_magnifier_glass.asp <<<<<<<<<<<<<<<<<<<<<<<<<
        </h4>
        <h4 id="why_choose"> III. It works only at the beginning of the page. Taken from bootstrap. </h4>
        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false"
             data-bs-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'slide/1.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'slide/2.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'slide/3.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'slide/4.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'slide/5j.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'slide/6j.jpg' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <br>


        <h4 id="why_choose"> IIIb. Taken from bootstrap with black indicators. </h4>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="{% static 'slide/1.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'slide/2.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'slide/5j.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'slide/6j.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the fourth slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>


        <h4 id="why_choose"> I. My part </h4>
        <div class="container-xl">
            <div class="row">
                <div class="col-xl-6 col-lg-12">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><br>
                                <div>
                                    <h4 id="why_choose"> De ce să ne alegi? </h4>
                                    <link rel="stylesheet" href="{% static 'css/home.css' %}">
                                </div>
                                <p style="text-align:justify;"> Best Gym este mai mult decât o sală de fitness.
                                    Reprezintă
                                    locul în care
                                    te detașezi de tot ce înseamnă griji, stres, cotidian. Este o altă lume, în care
                                    intri
                                    si faci exact ceea ce ai nevoie şi ce iţi dorești pentru binele sănătății tale
                                    mentale,
                                    fizice şi psihologice. Este locul în care iţi îmbunătățești condiţia de om, viata
                                    per
                                    ansamblu, prin activităţi alese si preferate de tine. Suntem mai mult decat o sală
                                    de
                                    fitness pentru că oferim mai mult decât o sală de fitness obișnuită. Oferim
                                    sănătate,
                                    pasiune, socializare, comunicare, informare. Avem o echipă de oameni specializaţi,
                                    pasionaţi și dedicaţi unui stil de viaţă sănătos. Mulţi din echipa Best Gym sunt, pe
                                    langă instructori, traineri în domeniul Fitness-Wellness, având in vedere că în
                                    acelaşi
                                    loc în care te antrenezi se deşfăşoară cursuri de formare în domeniul
                                    Fitness-wellness.
                                    Ai la dispoziţie, alături de tine, pe lângă instructori şi traineri, oameni de
                                    calitate
                                    care te pot sfătui în orice situaţie şi cursanti care se pregătesc să devină
                                    instructori. Putem spune că este locul în care se antrenează cei mai mulţi
                                    instructori
                                    de Fitness, aşa că oricand poţi beneficia de un sfat util şi corect. Un mediu
                                    perfect pentru un antrenament excelent, original şi plin de creativitate. Te
                                    aşteptăm
                                    pentru o nouă zi, în fiecare zi! </p>
                                <p> @@@@@@@ Nu știu cum să las un spațiu înainte de "Best Gym este mai mult decât o
                                    sală".
                                    @@@@@????@@ De ce rămâne un rând spațiu între cele două paragrafe? </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xl-6 col-lg-12"><br><br><br><br>
                    <img src="/static/photos/homepage_ro.png" alt="home" class="col-12" style="object-fit: cover"
                         id="homepage_photo">
                </div>
            </div>
        </div>


        <h4 id="why_choose"> II. Slideshow taken from bootstrap, but with my photos it doesn't work. It works only I
            comment the part III in the beginning of the page </h4>
        <div class="container-xl">
            <div class="row">
                <div class="col-xl-6 col-lg-12">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><br>
                                <div>
                                    <h4 id="why_choose"> De ce să ne alegi? </h4>
                                    <link rel="stylesheet" href="{% static 'css/home.css' %}">
                                </div>
                                <p style="text-align:justify;"> Best Gym este mai mult decât o sală de
                                    fitness. Reprezintă
                                    locul în care
                                    te detaşezi de tot ce înseamnă griji, stres, cotidian. Este o altă lume, în care
                                    intri
                                    si faci exact ceea ce ai nevoie şi ce iţi doreşti pentru binele sănătăţii tale
                                    mentale,
                                    fizice şi psihologice. Este locul în care iţi imbunătăţeşti condiţia de om, viata
                                    per
                                    ansamblu, prin activităţi alese si preferate de tine. Suntem mai mult decat o sală
                                    de
                                    fitness pentru că oferim mai mult decât o sală de fitness obişnuită. Oferim
                                    sănătate,
                                    pasiune, socializare, comunicare, informare. Avem o echipă de oameni specializaţi,
                                    pasionaţi si dedicaţi unui stil de viaţă sănătos. Mulţi din echipa Best Gym sunt, pe
                                    langă instructori, traineri în domeniul Fitness-Wellness, având in vedere că în
                                    acelaşi
                                    loc în care te antrenezi se deşfăşoară cursuri de formare în domeniul
                                    Fitness-wellness.
                                    Ai la dispoziţie, alături de tine, pe lângă instructori şi traineri, oameni de
                                    calitate
                                    care te pot sfătui în orice situaţie şi cursanti care se pregătesc să devină
                                    instructori. Putem spune că este locul în care se antrenează cei mai mulţi
                                    instructori
                                    de Fitness, aşa că oricand poţi beneficia de un sfat util şi corect. Un mediu
                                    perfect pentru un antrenament excelent, original şi plin de creativitate. Te
                                    aşteptăm
                                    pentru o nouă zi, în fiecare zi! </p>
                                <p> @@@@@@@ Nu știu cum să las un spațiu înainte de "Best Gym este mai mult decât o
                                    sală".
                                    @@@@@????@@ De ce rămâne un rând spațiu între cele două paragrafe? </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xl-6 col-lg-12"><br><br><br><br>
                    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false"
                         data-bs-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'slide/1.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'slide/2.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'slide/3.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'slide/4.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            {#                        <div class="carousel-item active">#}
                            {#                            <img src="{% static 'slide/5j.jpg' %}" class="d-block w-100" alt="...">#}
                            {#                        </div>#}
                            {#                        <div class="carousel-item active">#}
                            {#                            <img src="{% static 'slide/6j.jpg' %}" class="d-block w-100" alt="...">#}
                            {#                        </div>#}
                        </div>
                        <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControlsNoTouching"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControlsNoTouching"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <h4 id="why_choose"> III. It works only at the beginning of the page. </h4>
        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false"
             data-bs-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'slide/1.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'slide/2.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'slide/3.jpg' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <br><br><br>

        {#    <br><h4 id="why_choose"> IV. From w3school How to / slideshow. </h4><br>#}
        {#    <br><h4 id="why_choose"> I used slide.js, slide.css ----#}
        {#    See 20th row in the slide.js" It disturbs the dropdowns</h4><br>#}
        {#    <div>#}
        {#        <link rel="stylesheet" href="{% static 'css/slide.css' %}">#}
        {#        <meta name="viewport" content="width=device-width, initial-scale=1">#}
        {#        <div class="slideshow-container">#}
        {#            <div class="mySlides fade">#}
        {#                <div class="numbertext">1 / 4</div>#}
        {#                <img src="{% static 'slide/1.jpg' %}" style="width:100%" alt="#">#}
        {#                <div class="text">Part one</div>#}
        {#            </div>#}
        {##}
        {#            <div class="mySlides fade">#}
        {#                <div class="numbertext">2 / 4</div>#}
        {#                <img src="{% static 'slide/2.jpg' %}" style="width:100%" alt="#">#}
        {#                <div class="text">Caption Two</div>#}
        {#            </div>#}
        {##}
        {#            <div class="mySlides fade">#}
        {#                <div class="numbertext">3 / 4</div>#}
        {#                <img src="{% static 'slide/1.jpg' %}" style="width:100%" alt="#">#}
        {#                <div class="text">Caption Three</div>#}
        {#            </div>#}
        {##}
        {#            <div class="mySlides fade">#}
        {#                <div class="numbertext">3 / 4</div>#}
        {#                <img src="{% static 'slide/4.jpg' %}" style="width:100%" alt="#">#}
        {#                <div class="text">Caption Four</div>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div style="text-align:center">#}
        {#            <span class="dot"></span>#}
        {#            <span class="dot"></span>#}
        {#            <span class="dot"></span>#}
        {#            <span class="dot"></span>#}
        {#        </div>#}
        {#        <script src="{% static 'javascript/slide.js' %}"></script>#}
        {#    </div> <br><br>#}


        {#    <h4 id="why_choose"> V. Container for the image gallery in the downside. </h4>#}
        {#    <link rel="stylesheet" href="{% static 'css/slide_show_gallery.css' %}">#}
        {#    <div class="container">#}
        {##}
        {#        <!-- Full-width images with number text -->#}
        {#        <div class="mySlides">#}
        {#            <div class="numbertext">1 / 6</div>#}
        {#            <img src="{% static 'slide/1.jpg' %}" style="width:100%" alt="#">#}
        {#        </div>#}
        {##}
        {#        <div class="mySlides">#}
        {#            <div class="numbertext">2 / 6</div>#}
        {#            <img src="{% static 'slide/2.jpg' %}" style="width:100%" alt="#">#}
        {#        </div>#}
        {##}
        {#        <div class="mySlides">#}
        {#            <div class="numbertext">3 / 6</div>#}
        {#            <img src="{% static 'slide/3.jpg' %}" style="width:100%" alt="#">#}
        {#        </div>#}
        {##}
        {#        <div class="mySlides">#}
        {#            <div class="numbertext">4 / 6</div>#}
        {#            <img src="{% static 'slide/4.jpg' %}" style="width:100%" alt="#">#}
        {#        </div>#}
        {##}
        {#        <div class="mySlides">#}
        {#            <div class="numbertext">5 / 6</div>#}
        {#            <img src="{% static 'slide/1.jpg' %}" style="width:100%" alt="#">#}
        {#        </div>#}

        {#        <div class="mySlides">#}
        {#            <div class="numbertext">6 / 6</div>#}
        {#            <img src="{% static 'slide/4.jpg' %}" style="width:100%" alt="#">#}
        {#        </div>#}
        {##}
        {#        <!-- Next and previous buttons -->#}
        {#        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>#}
        {#        <a class="next" onclick="plusSlides(1)">&#10095;</a>#}
        {##}
        {#        <!-- Image text -->#}
        {#        <div class="caption-container">#}
        {#            <p id="caption"></p>#}
        {#        </div>#}
        {##}
        {#        <!-- Thumbnail images -->#}
        {#        <div class="row">#}
        {#            <div class="column">#}
        {#                <img class="demo cursor" src="{% static 'slide/1.jpg' %}" style="width:100%" onclick="currentSlide(1)"#}
        {#                     alt="The Woods">#}
        {#            </div>#}
        {#            <div class="column">#}
        {#                <img class="demo cursor" src="{% static 'slide/2.jpg' %}" style="width:100%" onclick="currentSlide(2)"#}
        {#                     alt="Cinque Terre">#}
        {#            </div>#}
        {#            <div class="column">#}
        {#                <img class="demo cursor" src="{% static 'slide/3.jpg' %}" style="width:100%" onclick="currentSlide(3)"#}
        {#                     alt="Mountains and fjords">#}
        {#            </div>#}
        {#            <div class="column">#}
        {#                <img class="demo cursor" src="{% static 'slide/4.jpg' %}" style="width:100%" onclick="currentSlide(4)"#}
        {#                     alt="Northern Lights">#}
        {#            </div>#}
        {#            <div class="column">#}
        {#                <img class="demo cursor" src="{% static 'slide/1.jpg' %}" style="width:100%" onclick="currentSlide(5)"#}
        {#                     alt="Nature and sunrise">#}
        {#            </div>#}
        {#            <div class="column">#}
        {#                <img class="demo cursor" src="{% static 'slide/4.jpg' %}" style="width:100%" onclick="currentSlide(6)"#}
        {#                     alt="Snowy Mountains">#}
        {#            </div>#}
        {#        </div>#}
        {#        <script src="{% static 'javascript/slide_show_gallery.js' %}"></script>#}
        {#    </div>#}
        <br><br><br><br>


        <h4 id="why_choose"> 5b. Container for the image gallery in the upside. </h4>
        <link rel="stylesheet" href="{% static 'css/slide_show_gallery.css' %}">
        <div class="container">

            <!-- Thumbnail images -->
            <div class="row">
                <div class="column">
                    <img class="demo cursor" src="{% static 'slide/1.jpg' %}" style="width:100%"
                         onclick="currentSlide(1)"
                         alt="The Woods">
                </div>
                <div class="column">
                    <img class="demo cursor" src="{% static 'slide/2.jpg' %}" style="width:100%"
                         onclick="currentSlide(2)"
                         alt="Cinque Terre">
                </div>
                <div class="column">
                    <img class="demo cursor" src="{% static 'slide/3.jpg' %}" style="width:100%"
                         onclick="currentSlide(3)"
                         alt="Mountains and fjords">
                </div>
                <div class="column">
                    <img class="demo cursor" src="{% static 'slide/4.jpg' %}" style="width:100%"
                         onclick="currentSlide(4)"
                         alt="Northern Lights">
                </div>
                <div class="column">
                    <img class="demo cursor" src="{% static 'slide/1.jpg' %}" style="width:100%"
                         onclick="currentSlide(5)"
                         alt="Nature and sunrise">
                </div>
                <div class="column">
                    <img class="demo cursor" src="{% static 'slide/4.jpg' %}" style="width:100%"
                         onclick="currentSlide(6)"
                         alt="Snowy Mountains">
                </div>

            </div>
            <br>
            <!-- Full-width images with number text -->
            <div class="mySlides">
                <div class="numbertext">1 / 6</div>
                <img src="{% static 'slide/1.jpg' %}" style="width:100%" alt="#">
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 6</div>
                <img src="{% static 'slide/2.jpg' %}" style="width:100%" alt="#">
            </div>

            <div class="mySlides">
                <div class="numbertext">3 / 6</div>
                <img src="{% static 'slide/3.jpg' %}" style="width:100%" alt="#">
            </div>

            <div class="mySlides">
                <div class="numbertext">4 / 6</div>
                <img src="{% static 'slide/4.jpg' %}" style="width:100%" alt="#">
            </div>

            <div class="mySlides">
                <div class="numbertext">5 / 6</div>
                <img src="{% static 'slide/1.jpg' %}" style="width:100%" alt="#">
            </div>

            <div class="mySlides">
                <div class="numbertext">6 / 6</div>
                <img src="{% static 'slide/4.jpg' %}" style="width:100%" alt="#">
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Image text -->
            <div class="caption-container">
                <p id="caption"></p>
            </div>


            <script src="{% static 'javascript/slide_show_gallery.js' %}"></script>
        </div>
        <br><br><br><br>
    </div>
{% endblock %}
