{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <!-- Pagination  -->
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg justify-content-center ">
                <li class="page-item">
                    <a class="page-link" href="{% url 'homepage' %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage' %}">1</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_2' %}">2</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_3' %}">3</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_4' %}">4</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_5' %}">5</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'homepage_6' %}">6</a></li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'homepage_3' %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <h4 id="why_choose"> III. It works only at the beginning of the page. Taken from bootstrap. </h4>
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'slide/1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'slide/2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'slide/3.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'slide/4.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'slide/5j.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'slide/6j.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br>
{% endblock %}
