{% load static %}
<!DOCTYPE html>
<html lang="en">
<head id="up_color">
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'icon/Red-Boxes.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" id="navbar_color">
        <a class="navbar-brand" href="{% url 'homepage' %}">
            <img id="logo" src="/static/photos/logo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'timetable' %}">Timetable</a>
                </li>
                {% if user.is_authenticated %}
                    {% if perms.customer.customer_bar %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Customers
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="navbar2_color">
                                {% if perms.customer.register_customer %}
                                    <li><a class="dropdown-item" href="{% url 'create-customer' %}">Register a
                                        customer</a></li>
                                {% endif %}
                                {% if perms.customer.list_of_customers %}
                                    <li><a class="dropdown-item" href="{% url 'list-of-customers' %}">List of
                                        customers</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Trainers
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_authenticated %}
                            {% if perms.customer.register_trainer %}
                                <li><a class="dropdown-item" href="{% url 'create-trainer' %}">Register a trainer</a>
                                </li>
                            {% endif %}
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'list-of-trainers' %}">List of trainers</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Classes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_authenticated %}
                            {% if perms.customer.register_course %}
                                <li><a class="dropdown-item" href="{% url 'create-course' %}">Register a course</a></li>
                            {% endif %}
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'list-of-courses' %}">List of courses</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Subscriptions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_authenticated %}
                            {% if perms.customer.create_subscription %}
                                <li><a class="dropdown-item" href="{% url 'create-subscription' %}">Register a
                                    subscription</a>
                                </li>
                            {% endif %}
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'list-of-subscriptions' %}">List of
                            subscriptions</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                    {% if perms.customer.trainers_and_their_customers %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Trainers and their customers
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for trainer in trainers %}
                                    <li><a class="dropdown-item"
                                           href="{% url 'customers-per-trainer' trainer.id %}">{{ trainer.first_name }} {{ trainer.last_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
                {% if user.is_authenticated %}
                    {% if perms.customer.trainers_and_their_courses %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Trainers and theirs courses
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for trainer in trainers %}
                                    <li><a class="dropdown-item"
                                           href="{% url 'courses-per-trainer' trainer.id %}">{{ trainer.first_name }} {{ trainer.last_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'find-a-gym' %}">Find a gym</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'career' %}">Career</a>
                </li>

            </ul>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn btn-success">
                    Logout, {{ request.user.first_name }} {{ request.user.last_name }} </a>
            {% else %}
                <a href="{% url 'create-user' %}" class="btn btn-primary"> Sign up</a>
                <a href="{% url 'login' %}" class="btn btn-success"> Login</a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container-fluid">
    {% block content %}
    {% endblock %}
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</html>