{% extends 'base.html' %}
{% load static %}
{% block title %} List of subscriptions {% endblock %}

{% block content %}
    trebuie cu 17 scris, textul din celula "fitness + cardio + aerobic + sauna + massage" trebuie să fie deasupra celulei "Period of validity:"
    <link rel="stylesheet" href="{% static 'css/subscription.css' %}">
    <div class="row">
        {% for subscription in all_subscriptions %}
            <div class="card" style="width: 27rem; margin-left: 16px; margin-top: 5px">
                <div class="card-body" style="height: 185px">
                    <h4 class="card-text" id="subscription"> {{ subscription.name }} </h4>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td> Description:</td>
                            <td id="right"> {{ subscription.description }} </td>
                        </tr>
                        <tr>
                            <td> Period of validity:</td>
                            <td id="right"> {{ subscription.period_of_validity }} </td>
                        </tr>
                        <tr>
                            <td> Price:</td>
                            <td id="right"> {{ subscription.price }} lei </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success" id="buy_now"> Buy now </a>
                </div>
                <div class="card-footer">
                    <a href="{% url 'update-subscription' subscription.id %}"
                       class="btn btn-primary" id="update_del"> Update </a>
                    <a href="#" class="btn btn-primary" id="update_del"> Delete </a>
                </div>
            </div>
        {% endfor %}
    </div>{% endblock %}
